services:
  holoocean:
    image: frostlab/holoocean:2.0-runtime-ubuntu22.04-cuda12.4
    build:
      context: ../..
      dockerfile: docker/runtime/Dockerfile
    container_name: holoocean
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - $HOME/.Xauthority:/root/.Xauthority:rw
    command: ["tail", "-f", "/dev/null"]